/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap");


/* common style */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

/* navbar style */
.navbar{
  background-color: blue;
  width:920px;
  margin-left: 280px;
  margin-bottom: 1px;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: end;
}
li img{
  padding-left:535px;
}


/* whole part of top section of body */
.container {
  background-color: white;
  width: 870px;
  padding: 20px;
  border-radius: 5px;

}

/* main part of body */
main {
  display: flex;
  flex-direction: column;
  align-items: center;

}



/* top_players_style */

.top-players {
 margin-top: 50px;
}

.section-title {
  color: blue;
  font-size: 24px;
  margin-top: 3px;
}




/* contain whole players body */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
}

/* every single player profile handle */
.player {
  display: flex;
  align-items: center;
}

/* single player image */
.player img {
  width: 56px;
  height: 56px;
}
/* custom player name */
.player_name {
  padding-left: 16px;
  font-size: 18px;
}

/* horizontal line between player and blog */
hr {
  border: 1px solid wheat;
  margin-bottom: 27px;
}

/* top blogs style */

.thumble img {
  width: 117px;
  height: 117px;
}


.blog {
  display: flex;
}

.info {
  margin-left: 16px;
  
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: gray;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: blue;
}
.blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}


/* courses start */

.courses{
  display: flex;
  justify-content: space-between;
}
.img img{
  width: 217px;
  height: 107px;
  margin-top: 20px;
}

.heading{
  font-size: 15px;
}
.course_author{
  color: red;
  padding-top: 10px;
}

.fa-star.filled{
  color: gold;
}

.fa-star.empty{
  color: lightgray;
}

.course_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course_duration{
  background-color: red;
  color: blue;
  border-radius: 15%;
}
.ratings{
  padding-left: 10px;
}




/* media query */

@media only screen and (max-width:688px){
  .container{
    width: 100%;
  }
  .players{
    grid-template-columns: repeat(1,1fr);
  }
  .blogs{
    grid-template-columns: repeat(1,1fr);
  }
  .courses{
    flex-direction: column;
  }
}